﻿@model Poc_task.Models.Employee

@{
    ViewBag.Title = "DeleteRecord";
}

<h2>DeleteRecord</h2>

@using (Html.BeginForm("DeleteRecord","Default",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    

        <div class="form-group">
            @Html.LabelFor(model => model.EmpCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpCode, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
